<h1>Request a room </h1>
<form (ngSubmit)="submit()">
    <div class="form-group">
        <label for="roomno">Room no</label>
        <select name="roonno" [(ngModel)]="RoomResource.roomname" id="roomno" class="form-control">
            <option value="0" selected>no room selected</option>
            <option value="ab301">AB301</option>
            <option value="ab302">AB302</option>
            <option value="ab303">AB303</option>
            <option value="ab304">AB304</option>
            <option value="ab305">AB305</option>
            <option value="ab401">AB401</option>
            <option value="ab402">AB402</option>
            <option value="ab403">AB403</option>
            <option value="ab404">AB404</option>
            <option value="ab405">AB405</option>
            <option value="ab406">AB406</option>
            <option value="ab501">AB501</option>
            <option value="ab502">AB502</option>
            <option value="ab503">AB503</option>
            <option value="ab504">AB504</option>
            <option value="ab505">AB505</option>
            <option value="ab506">AB506</option>
            <option value="ab601">AB601</option>
            <option value="ab602">AB602</option>
            <option value="ab603">AB603</option>
            <option value="ab604">AB604</option>
            <option value="ab605">AB605</option>
            <option value="ab606">AB606</option>
        </select>
    </div>
    <div class="form-group">
        <label for="reason">Reason</label>
        <input name="reason" [(ngModel)]="RoomResource.reason" id="reason" class="form-control">
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" [(ngModel)]="RoomResource.date" name="date" id="date" class="form-control" value="">
    </div>
    <div class="form-group">
        <label for="timeslot">Time slot</label>
        <select name="timeslot" [(ngModel)]="RoomResource.time" id="timeslot" class="form-control">
            <option value="08.30 am - 10.00 am">08.30 am - 10.00 am</option>
            <option value="10.00 am - 11.30 am">10.00 am - 11.30 am</option>
            <option value="11.30 am - 01.00 pm">11.30 am - 01.00 pm</option>
            <option value="01.00 pm - 02.30 pm">01.00 pm - 02.30 pm</option>
            <option value="02.30 pm - 04.00 pm">02.30 pm - 04.00 pm</option>
            <option value="04.00 pm - 05.30 pm">04.00 pm - 05.30 pm</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" name="submit" class="btn btn-primary">
    </div>
</form>