<table class="table">
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>Roomnae</th>
        <th>Date</th>
        <th>Timeslot</th>
        <th>Acceptance</th>
        <th></th>
        <th></th>

    </tr>
    <tr>
        <td></td>
        <td>Shuvo</td>
        <td>304ab</td>
        <td>27/08/2017</td>
        <td>08.30 am - 10.00 am</td>
        <td>Pending</td>
        <td><input type="submit" name="Accept" value="Accept" class="btn btn-primary"></td>
        <td><input type="submit" name="Reject" value="Reject" class="btn btn-primary"></td>
    </tr>
</table>